<h1>Metaproject Detail</h1>

<button class="btn btn-default" ui-sref="metaProjectList"><span class="glyphicon glyphicon-step-backward"></span> Back</button>
<button class="btn btn-primary" ng-show="$state.includes('metaProjectDetail')" ng-click="editMetaProject()"><span class="glyphicon glyphicon-save"></span> Save Changes</button>
<button class="btn btn-success" ng-show="$state.includes('metaProjectNew')" ng-click="createMetaProject()"><span class="glyphicon glyphicon-plus"></span> Save MetaProject</button>

<form novalidate class="simple-form">

  <div class="form-group">
    <label for="title">Title*</label>
    <input id="title" class="form-control" type="text" ng-model="metaproject.title">
    <label for="courseOfStudies">Course Of Studies</label>
    <input id="courseOfStudies" class="form-control" type="text" ng-model="metaproject.courseOfStudies">
    <label for="semester">Semester</label>
    <input id="semester" class="form-control" type="text" ng-model="metaproject.semester">
    <label for="leader">Leader</label>
    <select id="leader" ng-model="metaproject.leader" ng-options="user as user.name for user in users" class="form-control">
      <option value="">{{metaproject.leader.name}}</option>
    </select>
  </div>

</form>


<div ui-view="projectList"></div>


