

<form novalidate class="simple-form">

  Project: <br>
  <input type="text" ng-model="project.title"> <br>
  Description: <br>
  <input type="text" ng-model="project.description"> <br>
  Members: <br>
      <div ng-repeat="member in project.members">
        <div ng-bind="member.name" ng-dblclick="fireMember($index)"></div>
      </div>
  AllUser:
      <div ng-repeat="user in users" >
        <div ng-bind="user.name" ng-dblclick="hireMember($index)"></div>
      </div>

  <button ng-show="$state.includes('projectNew')" ng-click="createProject()">Save</button>
  <button ng-show="$state.includes('projectDetail')" ng-click="editProject()">Edit</button>
</form>





