<ul class="breadcrumb">
  <li ui-sref="metaProjectList">MetaProjects</li>
  <li ng-hide="$state.current.name === 'metaProjectDetail'" class="active">{{metaproject.title}}</li>
  <li ng-show="$state.current.name === 'metaProjectNew'" class="active">New</li>
</ul>

<form novalidate class="simple-form">

  MetaProject: <br>
  <input type="text" ng-model="metaproject.title"> <br>
  Course of Studies: <br>
  <input type="text" ng-model="metaproject.courseOfStudies"> <br>
  Semester: <br>
  <input type="text" ng-model="metaproject.semester"> <br>
  Leader: <br>
  <input type="text" ng-model="metaproject.leader.name" readonly> <br>
  <select ng-model="metaproject.leader" ng-options="user as user.name for user in users"></select>

  <button ng-click="createMetaProject()">Save</button>
  <button>Cancel</button>

  <button ng-click="editMetaProject()">Edit</button>
  <button>Projects</button>

</form>

<div ui-view="projectList"></div>



