<ul class="breadcrumb">
  <li ui-sref="home">MetaProjects</li>
  <li class="active">New</li>
</ul>

<form novalidate class="simple-form">

  MetaProject: <br>
  <input type="text" ng-model="metaProject.name"> <br>
  Course of Studies: <br>
  <input type="text" ng-model="metaProject.courseOfStudies"> <br>
  Semester: <br>
  <input type="text" ng-model="metaProject.semester"> <br>
  Leader: <br>
  <input type="text" ng-model="metaProject.leader"> <br>


  <button>Save</button>
  <button>Cancel</button>

  <button>Edit</button>
  <button>Projects</button>

</form>

