<h1>directive</h1>
<!--{{list1}}-->
<!--{{list2}}-->
<div class="col-xs-6">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Project Members</th>
    </tr>
    </thead>
    <tr ng-repeat="ele1 in list1">
      <td ng-bind="ele1.name"></td>
    </tr>
  </table>
</div>
<div class="col-xs-6">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Available Members</th>
    </tr>
    </thead>
    <tr ng-repeat="ele2 in list2" >
      <td ng-bind="ele2.name"></td>
    </tr>
  </table>
</div>
